<div class="d-flex justify-content-between align-items-center mb-5">
    <h1 class="h3 mb-2 text-gray-800">List of Products</h1>
    <button icon="pi pi-pencil" class="btn btn-primary" (click)="openCreateModule()">Add Product</button>
</div>
<div class="card ">
    <p-table #dt [value]="productslist" dataKey="productName" [tableStyle]="{ 'min-width': '75rem' }" [paginator]="true"
        [rows]="5" [totalRecords]="totalRecords" [scrollable]="true"
        [globalFilterFields]="['productName', 'quantity', 'priceSell', 'leagues']">
        <ng-template pTemplate="caption">
            <div class="table-header d-flex justify-content-between align-items-center flex-wrap ">
                <span>List of products</span>
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(dt)"></button>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Global Search" style="width: 100%;" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem"></th>
                <th pSortableColumn="productName">Product Name <p-sortIcon field="productName"></p-sortIcon>
                </th>
                <th pSortableColumn="mainPic">Image <p-sortIcon field="mainPic"></p-sortIcon>
                </th>
                <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon>
                </th>
                <th pSortableColumn="priceSell">Price Sell <p-sortIcon field="priceSell"></p-sortIcon>
                </th>
                <th pSortableColumn="pricePerchase">Price Perchase <p-sortIcon field="priceSell"></p-sortIcon>
                </th>
                <th pSortableColumn="leagues">leagues <p-sortIcon field="leagues"></p-sortIcon>
                </th>
                <th style="width: 10rem"></th>
            </tr>
            <tr>
                <th style="width: 3rem"></th>
                <th>
                    <p-columnFilter type="text" field="productName" matchMode="contains" [showMenu]="false">
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="leagues" matchMode="contains" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown appendTo="body" [ngModel]="value" [options]="statuses"
                                (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <p-tag [value]="option.value" [severity]="getSeverity(option.label)"></p-tag>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="quantity" matchMode="contains" [showMenu]="false">
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="priceSell" matchMode="contains" [showMenu]="false">
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="pricePerchase" matchMode="contains" [showMenu]="false">
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="leagues" matchMode="contains" [showMenu]="false">
                    </p-columnFilter>
                </th>
                <th style="width: 10rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex" let-expanded="expanded">
            <tr [pSelectableRow]="product" [pSelectableRowIndex]="rowIndex">
                <td style="width: 3rem">
                    <button type="button" pButton pRipple [pRowToggler]="product"
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td>{{ product.productName }}</td>
                <td class="text-center">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img [src]="product.mainPic" [alt]="product.productName" width="100" class="shadow-4" />
                        <p-tag [value]="product.leagues" [severity]="getSeverity(product.leagues)" width="200"></p-tag>
                    </div>
                </td>
                <!-- <td class="text-center" >{{ product.quantity }}</td> -->

                <td class="text-center">
                    <p-tag [value]="product.quantity" [severity]="getProductStatus(product.quantity)"></p-tag>
                </td>
                
                <td class="text-center"><strong>{{ product.priceSell }}</strong></td>
                <td class="text-center"><strong>{{ product.pricePerchase }}</strong></td>
                <td class="text-center">
                    <p-tag [value]="product.leagues" [severity]="getSeverity(product.leagues)"></p-tag>
                </td>
                <td style="width: 10rem">
                    <div class="d-flex justify-content-between ">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                            (click)="openModule(product)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteProduct(product)"></button>
                        <button pButton pRipple icon="pi pi-link" class="p-button-rounded p-button-secondary"
                            (click)="assignDialog(product)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-product>
            <tr>
                <td colspan="8" class="m-0 p-0">
                    <div class="">
                        <p-table [value]="[product]" dataKey="id">
                            <ng-template pTemplate="body" let-product>
            <tr>
                <th id="gi" class="table-header" colspan="6">
                    <div class="alert alert-warning m-0" role="alert">
                        General information
                    </div>
                </th>
            </tr>
            <tr colspan="6">
                <th id="tariff-id" class="row-header p-2" colspan="1">
                    ID
                </th>
                <td colspan="2">
                    {{product.id ? product.id : '-'}}
                </td>
                <th id="tariff-name" class="row-header p-2" colspan="1">
                    Date
                </th>
                <td colspan="2">
                    {{product.id? product.id : '-'}}
                </td>
            </tr>
            <tr>
                <th id="gi" class="table-header" colspan="6">
                    <div class="alert alert-success m-0" role="alert">
                        Balance information
                    </div>
                </th>
            </tr>
            <tr colspan="6">
                <th id="tariff-id" class="row-header p-2" colspan="1">
                    ID
                </th>
                <td colspan="2">
                    {{product.id ? product.id : '-'}}
                </td>
                <th id="tariff-name" class="row-header p-2" colspan="1">
                    Balance
                </th>
                <td colspan="2">
                    {{product.id? product.id : '-'}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">There are no order for this product yet.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
</td>
</tr>


</ng-template>
</p-table>
</div>

<p-dialog [(visible)]="productDialog" [dismissableMask]="true" [style]="{ width: '850px' }" header="Product Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="card d-flex justify-content-center align-items-center border-0 text-center">
            <p-galleria [value]="filterArray(product.showPic)" [responsiveOptions]="responsiveOptions"
                [containerStyle]="{ 'max-width': '640px' }" [numVisible]="5">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" style="width: 100%;" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div class=" justify-content-center px-2" width="100">
                        <img [src]="item" width="100" />
                    </div>
                </ng-template>
            </p-galleria>
        </div>
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="product.productName" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.productName">Name is required.</small>
        </div>
        <div class="field">
            <label for="name">Main Image</label>
            <div class="d-flex justify-content-between pt-1 align-items-center text-center">
                <input type="text" pInputText [(ngModel)]="product.mainPic" />
                <img [src]="product.mainPic" alt="mainPic" width="60" class="zoom shadow-4 px-1" />
            </div>
        </div>
        <div class="field">
            <label for="name">Show Images</label>
            <div class="d-flex justify-content-between pt-1 align-items-center text-center"
                *ngFor="let val of product.showPic; let i = index;trackBy:trackByIdx">
                <input type="text" pInputText [(ngModel)]="product.showPic[i]" />
                <img *ngIf="product.showPic[i] !=null && product.showPic[i]!=''" [src]="product.showPic[i]"
                    alt="showPic" width="60" class="zoom shadow-4 px-1" />
            </div>
        </div>
        <div class="field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="product.details" required rows="3"
                cols="20"></textarea>
        </div>
        <div class="row">
            <div class="field col">
                <label for="inventoryStatus">Inventory Status</label>
                <p-dropdown appendTo="body" [(ngModel)]="product.leagues" inputId="inventoryStatus"
                    [options]="statuses">
                    <ng-template pTemplate="selectedItem">
                        <p-tag [value]="product.leagues" [severity]="getSeverity(product.leagues)"></p-tag>
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                        <p-tag [value]="option.label" [severity]="getSeverity(option.label)"></p-tag>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="field col">
                <label for="price">Price Perchase</label>
                <p-inputNumber id="pricePerchase" [(ngModel)]="product.pricePerchase" mode="currency" currency="MAD"
                    locale="en-US">
                </p-inputNumber>
            </div>
        </div>
        <div class="row">
            <div class="field col">
                <label for="price">Price</label>
                <p-inputNumber id="price" [(ngModel)]="product.priceSell" mode="currency" currency="MAD" locale="en-US">
                </p-inputNumber>
            </div>
            <div class="field col">
                <label for="quantity">Quantity</label>
                <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Update" icon="pi pi-check" class="p-button-text"
            (click)="updateProduct(product)"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="assignColiDialog" [dismissableMask]="true" [style]="{ width: '850px' }" header="Assign Coli" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="row">
            <div class="field col">
                <label for="inventoryStatus">Choose Coli</label>
                <p-dropdown appendTo="body" [options]="colisOptions" [(ngModel)]="selectedColi" optionLabel="id"
                    [showClear]="true" placeholder="Select a Coli">
                    <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="selectedColi">
                            <div>{{ selectedColi.id }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-coli pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-uk'" style="width: 18px" />
                            <div>{{ coli.id }} - {{ coli.trackingNumber }} </div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Assign" icon="pi pi-check" class="p-button-text"
            (click)="assignProduct(product)"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="createProductDialog" [dismissableMask]="true" [style]="{ width: '850px' }" header="Product Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form class="form-horizontal" [formGroup]="productFromGroup">
            <div class="card d-flex justify-content-center align-items-center border-0 text-center">
                <p-galleria [value]="filterArray(product.showPic)" [responsiveOptions]="responsiveOptions"
                    [containerStyle]="{ 'max-width': '640px' }" [numVisible]="5">
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item" style="width: 100%;" />
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                        <div class=" justify-content-center px-2" width="100">
                            <img [src]="item" width="100" />
                        </div>
                    </ng-template>
                </p-galleria>
            </div>
            <div class="field">
                <label for="name">Name</label>
                <input type="text" pInputText id="productName" name="productName" formControlName="productName" required
                    autofocus />
                <small class="p-error" *ngIf="submitted && !product.productName">Name is required.</small>
            </div>
            <div class="field">
                <label for="name">Main Image</label>
                <div class="d-flex justify-content-between pt-1 align-items-center text-center">
                    <input type="text" pInputText name="mainPic" formControlName="mainPic" />
                    <img [src]="product.mainPic" alt="mainPic" width="60" class="zoom shadow-4 px-1" />
                </div>
            </div>
            <div class="field">
                <label for="name">Show Images</label>
                <div class="d-flex justify-content-between pt-1 align-items-center text-center"
                    *ngFor="let val of product.showPic; let i = index;trackBy:trackByIdx">
                    <input type="text" pInputText name="showPic" formControlName="showPic" />
                    <img *ngIf="product.showPic[i] !=null && product.showPic[i]!=''" [src]="product.showPic[i]"
                        alt="showPic" width="60" class="zoom shadow-4 px-1" />
                </div>
            </div>
            <div class="field">
                <label for="description">Description</label>
                <textarea id="description" pInputTextarea name="details" formControlName="details" required rows="3"
                    cols="20"></textarea>
            </div>
            <div class="field">
                <label for="inventoryStatus">Choose Coli</label>
                <!-- <p-dropdown appendTo="body" [options]="colisOptions" name="selectedColi" formControlName="selectedColi"
                    optionLabel="id" [showClear]="true" placeholder="Select a Coli" optionValue="selectedColi">
                    <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="selectedColi">
                            <div>{{ selectedColi.id }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-coli pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-uk'" style="width: 18px" />
                            <div>{{ coli.id }} - {{ coli.trackingNumber }} </div>
                        </div>
                    </ng-template>

                </p-dropdown>
                 -->
                <p-dropdown appendTo="body" [options]="colisOptions" placeholder="Select a coli" optionLabel="id"
                    dataKey="selectedColi" optionValue="id" formControlName="selectedColi"></p-dropdown>
            </div>
            <div class="row">
                <div class="field col">
                    <label for="inventoryStatus">Inventory Status</label>
                    <p-dropdown appendTo="body" [options]="statuses" placeholder="Select a league" optionLabel="label"
                        dataKey="leagues" optionValue="label" formControlName="leagues"></p-dropdown>
                </div>
                <div class="field col">
                    <label for="price">Price Perchase</label>
                    <p-inputNumber id="pricePerchase" name="pricePerchase" formControlName="pricePerchase"
                        mode="currency" currency="MAD" locale="en-US">
                    </p-inputNumber>
                </div>
            </div>
            <div class="row">
                <div class="field col">
                    <label for="price">Price</label>
                    <p-inputNumber id="price" name="priceSell" formControlName="priceSell" mode="currency"
                        currency="MAD" locale="en-US">
                    </p-inputNumber>
                </div>
                <div class="field col">
                    <label for="quantity">Quantity</label>
                    <p-inputNumber id="quantity" name="quantity" formControlName="quantity"></p-inputNumber>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>

        <button pButton pRipple label="Create" icon="pi pi-plus" class="p-button-text"
            (click)="addProduct(productFromGroup.value)"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
<p-toast position="top-right"></p-toast>