.card th {

    text-align: center;
}

.zoom {
    -webkit-transition: all 0.85s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}



.zoom:hover,
.zoom:active,
.zoom:focus {
    /**adjust scale to desired size, 
add browser prefixes**/
    -ms-transform: scale(10);
    -moz-transform: scale(10);
    -webkit-transform: scale(10);
    -o-transform: scale(10);
    transform: scale(10) translateX(-25px);
    position: relative;
    z-index: 100;
}