<div class="container "
    style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    <h2>Wholesale Order Form </h2>

    <form class="form-horizontal" [formGroup]="productFromGroup" (ngSubmit)="addProduct(productFromGroup.value)">

        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Product Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="productName" formControlName="productName"
                    id="productName">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Qantity</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="quantity" formControlName="quantity" id="quantity">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Price Sell</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="priceSell" formControlName="priceSell" id="priceSell">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Main picture <small>(800 x 800)</small></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="mainPic" formControlName="mainPic" id="mainPic">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Details</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="details" formControlName="details" id="details"
                    rows="3"></textarea>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Leagues</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="leagues" formControlName="leagues" id="leagues">
            </div>
        </div>

      

        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Add</button>
        </div>
    </form>
</div>