<!-- <app-dashboard></app-dashboard> -->
<!-- <app-header></app-header>

<div class="d-flex">
    <div class=" col-md-12   ">
         <router-outlet></router-outlet> -->


<!-- <app-footer></app-footer> -->

<div id="wrapper">
  <app-dashboard></app-dashboard>
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
      <app-header></app-header>
      <div class="container-fluid">
        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
</div>