<!-- Begin Page Content -->

<!-- Page Heading -->

<div class="d-flex justify-content-between align-items-center mb-5">
    <h1 class="h3 mb-2 text-gray-800">List of Users</h1>
    <button icon="pi pi-pencil" class="btn btn-primary" (click)="openCreateModule()">Add Staff</button>
</div>
<div class="card">
    <p-table #dt [value]="staffList" dataKey="mail"
        [tableStyle]="{ 'min-width': '75rem' }" [paginator]="true" [rows]="10" [totalRecords]="totalRecords"
        [scrollable]="true" [globalFilterFields]="['firstName', 'lastName', 'mail', 'role']">

        <ng-template pTemplate="caption">
            <div class="table-header d-flex justify-content-between align-items-center flex-wrap ">
                <span>List of users</span>

                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(dt)"></button>

                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Global Search" style="width: 100%;" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <!-- <th style="width: 4rem"></th>-->
                <th style="width: 3rem"></th> 
                <th pSortableColumn="firstName">FirstName <p-sortIcon field="firstName"></p-sortIcon>
                </th>
                <th pSortableColumn="lastName">Last Name <p-sortIcon field="lastName"></p-sortIcon>
                </th>
                <th pSortableColumn="mail">Mail <p-sortIcon field="mail"></p-sortIcon>
                </th>

                <th pSortableColumn="role">role <p-sortIcon field="role">
                    </p-sortIcon>
                </th>
                <th style="width: 8rem"></th>

            </tr>
            <tr>
                <!-- <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>-->
                <th style="width: 3rem"></th> 

                <th>
                    <p-columnFilter type="text" field="firstName" matchMode="contains" [showMenu]="false">
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="lastName" matchMode="contains" [showMenu]="false">
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="mail" matchMode="contains" [showMenu]="false">
                    </p-columnFilter>
                </th>

                <th>
                    <p-columnFilter type="text" field="representative" matchMode="contains" [showMenu]="false">
                    </p-columnFilter>
                </th>
                <th style="width: 8rem"></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-staff let-rowIndex="rowIndex" let-expanded="expanded">
            <tr [pSelectableRow]="staff" [pSelectableRowIndex]="rowIndex">
                <!-- <td style="width: 4rem">
                    <p-tableCheckbox [value]="staff"></p-tableCheckbox>
                </td>-->
                <td style="width: 3rem">
                    <button type="button" pButton pRipple [pRowToggler]="staff"
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td> 
                <td class="text-center">{{ staff.firstName }}</td>
                <td class="text-center">{{ staff.lastName }}</td>
                <td class="text-center">{{ staff.mail }}</td>
                <td class="text-center">{{ staff.role }}</td>

                <td style="width: 8rem">
                    <div class="d-flex justify-content-between ">
                        <button pButton pRipple icon="pi pi-pencil" (click)="openCreateModule(staff)"
                            class="p-button-rounded p-button-success mr-2"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteStaff(staff)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-staff>

            <tr>
                <td colspan="6" class="m-0 p-0">
                    <div class="">
                        <p-table [value]="[staff]" dataKey="id">
                            <ng-template pTemplate="body" let-staff>
            <tr>
                <th id="gi" class="table-header" colspan="6">
                    <div class="alert alert-warning m-0" role="alert">
                        General information
                    </div>
                </th>
            </tr>
            <tr colspan="6">
                <th id="tariff-id" class="row-header p-2" colspan="1">
                    ID
                </th>
                <td colspan="2">
                    {{staff.id ? staff.id : '-'}}
                </td>
                <th id="tariff-name" class="row-header p-2" colspan="1">
                    Date
                </th>
                <td colspan="2">
                    {{staff.id? staff.id : '-'}}
                </td>
            </tr>

        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">There are no order for this product yet.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
</td>
</tr>


</ng-template>
</p-table>
</div>


<p-dialog [(visible)]="createStaffDialog" [dismissableMask]="true" [style]="{ width: '850px' }" header="Add Staff"
    [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form class="form-horizontal" [formGroup]="staffFromGroup">


            <div class="row">
                <div class="field col">
                    <label for="name">First Name</label>
                    <input type="text" pInputText id="firstName" name="firstName" formControlName="firstName" required
                        autofocus />

                </div>
                <div class="field col">
                    <label for="name">Last Name</label>
                    <input type="text" pInputText id="lastName" name="lastName" formControlName="lastName" />
                </div>
            </div>

            <div class="row">
                <div class="field col">
                    <label for="name">Cin Card</label>
                    <input type="text" pInputText id="cinCard" name="cinCard" formControlName="cinCard" />
                </div>
                <div class="field col">
                    <label for="name">Phone Number</label>
                    <input type="text" pInputText id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" />
                </div>
            </div>

            <div class="row">
                <div class="field col">
                    <label for="name">Mail</label>
                    <input type="text" pInputText id="mail" name="mail" formControlName="mail" />
                </div>

                <div class="field col">
                    <label for="name">Password</label>
                    <input type="password" pInputText id="password" name="password" formControlName="password" />
                </div>
            </div>


            <div class="row">
                <div class="field col">
                    <label for="name">City</label>
                    <input type="text" pInputText id="city" name="city" formControlName="city" />
                </div>
                <div class="field col">
                    <label for="name">Role</label>
                    <select name="role" formControlName="role" placeholder="role" class="form-control">
                        <option *ngFor="let symbol of keys(roles)" [ngValue]="roles[symbol]">{{symbol}}</option>
                    </select>
                </div>
            </div>


        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button *ngIf="isNew" pButton pRipple label="Create" icon="pi pi-plus" class="p-button-text"
            (click)="addStaff(staffFromGroup.value)"></button>
        <button *ngIf="!isNew" pButton pRipple label="Update" icon="pi pi-check" class="p-button-text"
            (click)="updateStaff(staffFromGroup.value)"></button>
    </ng-template>
</p-dialog>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
<p-toast position="top-right"></p-toast>